<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="SERVICE_NAME">finance-service</Property>
        <Property name="LOG_DIR">./logs</Property>
        <Property name="CONSOLE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{[%-5level]}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=cyan} [trace=%style{%X{trace_id}}{cyan} span=%style{%X{span_id}}{cyan}] [${SERVICE_NAME}] [%t] %style{%-40.40c{1.}}{magenta} - %msg%n</Property>
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [trace=%X{trace_id} span=%X{span_id}] [${SERVICE_NAME}] [%t] %-40.40c{1.} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}" disableAnsi="false"/>
        </Console>

        <RollingFile name="FILE"
                     fileName="${LOG_DIR}/application.log"
                     filePattern="${LOG_DIR}/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.eprocure.finance.infrastructure.persistence.mapper" level="${env:LOG_LEVEL_SQL:-INFO}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Logger>

        <Logger name="com.eprocure" level="${env:LOG_LEVEL_APP:-DEBUG}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Logger>

        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.mybatis" level="WARN"/>
        <Logger name="com.zaxxer.hikari" level="WARN"/>
        <Logger name="org.apache.kafka" level="WARN"/>
        <Logger name="io.lettuce" level="WARN"/>

        <Root level="WARN">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
